@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>


    <table>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
        <tr>
            <td>Man 02</td>
            <td>Kylling & pasta</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Tirs 03</td>
            <td>Græskarsuppe</td>
            <td>Pastasalat</td>
        </tr>
    </table>
</body>
</html>