@page
@{

    ViewData["Title"] = "Contacts";
}



<html>
<head>
    <title>Kontaktinformation</title>
</head>
<body>

    <h1>Navn</h1>
    <p>Karen Marie</p>

    <h1>E-mail</h1>
    <p>Karenmarie@gmail.com</p>

    <h1>TelefonNr</h1>
    <p>+4521553415</p>

</body>
</html>
